// sticky-footer-flexbox
html,
body {
  height: 100%;
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
  flex: 1 0 auto;
  overflow-y: hidden;
}
.footer {
  flex-shrink: 0;
}
// END sticky-footer-flexbox
.footer{
	background: rgba(0,103,178,1);
	padding: 57px 0 52px;
	color: #fff;
	text-align: center;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}
}

.f-row{

}
.f-col{
	margin-bottom: 30px;
}

.f-logo{
	margin: 0 0;
	padding-top: 0;
	padding-bottom: 0;
	width: 110px;//176px;
	>img{
		width: 100%;
	}
}

.f-i{
	a{
		color: #fff;
		transition: all 0.2s;
		text-decoration: none !important;
		&:hover{
			color: $blue;
		}
	}
	ul{
		font-size: 15px;
		font-weight: 500;
		>li{
			margin-bottom: 10px;
		}
	}
}


.f-i_ttl{
	color: $blue;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

.f-i-contact{
	ul{
		font-size: 13px;
		font-weight: 400;
	}
	.f-i_ttl{
		font-size: 13px;
		margin-bottom: 2px;
	}
}

.f-i-social{
	ul{
		margin-top: 35px;
		display: flex;
		justify-content: center;
		font-size: 14px;
	}
	li{
		margin-right: 18px;
		&:last-of-type{
			margin-right: 0;
		}
	}
	a{
		display: block;
		line-height: 20px;
		width: 20px;
		height: 20px;
		background-color: #fff;
		color: $dark-blue;
		border-radius: 2px;
		text-align: center;
		&:hover{
			// background-color: $blue;
			background-color: $dark-blue;
			color: #fff;
		}
	}
}



.f-copy{
	margin-top: 41px;
	text-align: center;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
}



