
.h-slider_i{
	height: 500px;
}

.h-slider_innr{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.h-slider_img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.h-slider_img-filter{
	width: 100%;
	height: 100%;
	background-color: rgba(255,229,93,0.1);
}


.h-slider_cont{
	z-index: 1;
	background-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0 10px;
}
.h-slider_txt{
	text-align: center;
	padding: 11px 0 28px;
}
.h-slider_hint{
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	color: $dark-blue;
	margin-bottom: 0;
}
.h-slider_ttl{
	color: #000;
	font-size: 56px;
	line-height: 48px;
	letter-spacing: 0;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 0;
}



.h-slider .carousel-indicators{
	bottom: 12px;
	>li{
		width: 12px;
		height: 12px;
		margin-top: 1px;
		margin-bottom: 1px;
		border: 2px solid transparent;
		background-color: #fff;
		opacity: 0.5;
		border-radius: 50%;
		cursor: pointer;
	}
	>li.active{
		width: 14px;
		height: 14px;
		background-color: $dark-blue;
		border: 2px solid #fff;
		opacity: 1;
		margin-top: 0;
		margin-bottom: 0;
	}
}

