

.s-join{
	.s-ttl{
		margin-bottom: 16px;
	}
}
.s-join_innr{
	padding: 64px 15px 65px;
	border: 1px solid rgba(40,40,120,0.1);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
}




.f-join{
	max-width: 424px;
	margin: 0 auto;
	text-align: center;
}
.f-join .form-group{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 18px;
}
.f-join .form-control{
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	outline: none !important;
	transition: all 0.2s;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	height: 34px;
	color: $blue;
	font-weight: 500;
	padding-left: 14px;
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: rgba(0,0,0,0.2);
	  opacity: 1; /* Firefox */
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: rgba(0,0,0,0.2);
	}

	&::-ms-input-placeholder { /* Microsoft Edge */
	  color: rgba(0,0,0,0.2);
	}

	&:focus{
		border-bottom: 2px solid $blue;
		-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16) !important;
		-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16) !important;
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16) !important;
	}
}


.f-join_captcha{
	padding: 3px 0 0 13px;
	text-align: left;
	border: none;
	border-radius: 0;
	height: 34px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	box-shadow: 0px 0px 0px 1px rgba(0,173,233,1);
	img{
		// border: 1px dashed;
		max-height: 75%;
	}
}


.s-join .btn.btn-primary{
	margin-top: 3px;
	width: 175px;
}






