@media only screen and (min-width : 360px){



}//
@media only screen and (min-width : 576px){



}//
@media only screen and (min-width : 768px){

.s-events{
	.container{
		padding-right: 25px;
		padding-left: 25px;
	}
	.col-12{
		padding: 0 11px;
	}
}

}//
@media only screen and (min-width : 992px){



}//
@media only screen and (min-width : 1200px){



}//
