


.s-events{
	&.s-margin{
		margin-bottom: 64px;
	}
	// .s-btn{
	// 	margin-top: 11px;
	// }
	.col-12{
		margin-bottom: 29px;
	}
	.row{
		margin-bottom: -29px;
	}
}


.post-e{
	background-color: #fff;
	border: 1px solid rgba(40,40,120,0.1);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
	height: 100%;
	position: relative;
}




.post-e_img{
	display: block;
	>img{
		width: 100%;
	}
}

.post-e_con{
	padding: 31px 22px 52px 22px;
	h3{
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
}

.post-e_txt{
	font-size: 15.5px;
	font-weight: 400;
	p{
		margin-bottom: 10px;
	}
}
.post-e_lnk{
	position: absolute;
	bottom: 25px;
	left: 22px;
	font-size: 15.5px;
	color: $btn-or !important;
	// text-decoration: none !important;
	font-weight: 500;
	&:hover{

	}
}


.s-events .btn.btn-primary{
	width: 142px;
}





