@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot");
  src: local("Brandon Grotesque Bold"), local("BrandonGrotesque-Bold"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot");
  src: local("Brandon Grotesque Medium"), local("BrandonGrotesque-Medium"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot");
  src: local("Brandon Grotesque Regular"), local("BrandonGrotesque-Regular"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.eot");
  src: local("Brandon Grotesque Medium Italic"), local("BrandonGrotesque-MediumItalic"), url("../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.eot");
  src: local("Brandon Grotesque Bold Italic"), local("BrandonGrotesque-BoldItalic"), url("../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.woff") format("woff"), url("../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

body {
  min-width: 320px;
  position: relative;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  color: #010101;
  font-weight: 400;
}

.page {
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #010101;
  font-weight: bold;
}

a {
  color: #00ADE9;
}

a:hover {
  color: #00ADE9;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 1.8;
}

p {
  margin-bottom: 23px;
}

img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.s-margin {
  margin-bottom: 67px;
}

.s-padding {
  padding-top: 67px;
  padding-bottom: 31px;
}

.s-ttl {
  text-align: center !important;
  margin-bottom: 38px;
}

.s-ttl h1,
.s-ttl h2 {
  color: #00ADE9 !important;
  font-weight: 400 !important;
  font-size: 26px !important;
  text-transform: uppercase !important;
  margin-bottom: 14px !important;
}

.s-ttl .s-ttl_hint {
  font-size: 15px;
  font-weight: 500;
  color: rgba(16, 15, 15, 0.7);
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .s-ttl h1,
  .s-ttl h2 {
    font-size: 30px !important;
  }
}

.container-small {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

.s-btn {
  text-align: center;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  padding: 5px 35px;
  font-weight: 500;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  font-size: 16px;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-primary {
  background-color: #EA580C !important;
}

.btn-primary:hover {
  background-color: #FF7226 !important;
}

.btn-primary:active {
  background-color: #DD4B00 !important;
}

.btn-form {
  background-color: #9cb4d8 !important;
}

.btn-form:hover {
  background-color: #00ADE9 !important;
}

.btn-form:active {
  background-color: #0067b2 !important;
}

.shadow-hov {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.shadow-hov:hover {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.16);
}

.checkbox-style input[type=checkbox] {
  display: none !important;
}

.checkbox-style label {
  cursor: pointer;
}

.checkbox-style label:before {
  content: "\2714";
  color: transparent;
  display: inline-block !important;
  font-size: 14px;
  line-height: 16px;
  margin: -5px 5px 0 0;
  height: 17px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid rgba(40, 40, 120, 0.3);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.checkbox-style input:checked + label:before {
  color: #00ADE9 !important;
}

.table-style {
  width: 100%;
  border: 1px solid #00ADE9;
  font-size: 13px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.table-style tr {
  border-bottom: 1px solid #E9E9F1;
}

.table-style tr:last-of-type {
  border-bottom: none;
}

.table-style tr td:first-of-type {
  border-left: 1px solid #00ADE9;
}

.table-style tr td:last-of-type {
  border-right: 1px solid #00ADE9;
}

.table-style th {
  background-color: #00ADE9;
  color: #fff;
  font-size: 13px;
}

.table-style th b {
  font-size: 16px;
  line-height: 1.4;
}

.table-style td {
  padding-top: 22px;
  padding-bottom: 22px;
}

.table-style th,
.table-style td {
  padding-left: 15px;
  padding-right: 5px;
}

.s-small-txt {
  font-size: 13px;
  line-height: 1.7;
}

.header {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.header ul {
  line-height: 1.5;
}

.h-logo {
  width: 146px;
}

.h-logo img {
  width: 100%;
}

.w-nav {
  font-weight: 600;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
  color: #0067b2;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #EA580C !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #00ADE9;
}

@media only screen and (max-width: 1199px) {
  .w-nav ul:first-of-type {
    margin-top: 10px;
    -webkit-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .w-nav ul:last-of-type {
    margin-bottom: 20px;
    -webkit-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
}

.navbar-light .navbar-nav .nav-link.dropdown-toggle:after {
  margin-bottom: -1px;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link {
  padding: 10px 17px;
  font-weight: 600;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:hover {
  background-color: #fff;
  color: #00ADE9 !important;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link.active {
  background-color: #fff;
  color: #EA580C !important;
}

@media only screen and (max-width: 1200px) {
  .navbar-light .navbar-nav .dropdown-menu {
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .w-header-sticky {
    padding-top: 143px;
  }
  .w-header-sticky .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .header .navbar {
    position: relative;
    height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .w-nav {
    width: 100%;
    padding: 0;
  }
  .w-nav .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding: 0;
    text-transform: uppercase;
    font-size: 11.5px;
    padding: 8px 7px 7px 7px;
    letter-spacing: 0;
  }
  .header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .navbar-nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.h-slider_i {
  height: 500px;
}

.h-slider_innr {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-slider_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
}

.h-slider_img-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 229, 93, 0.1);
}

.h-slider_cont {
  z-index: 1;
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 10px;
}

.h-slider_txt {
  text-align: center;
  padding: 11px 0 28px;
}

.h-slider_hint {
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  color: #0067b2;
  margin-bottom: 0;
}

.h-slider_ttl {
  color: #000;
  font-size: 56px;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0;
}

.h-slider .carousel-indicators {
  bottom: 12px;
}

.h-slider .carousel-indicators > li {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 2px solid transparent;
  background-color: #fff;
  opacity: 0.5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}

.h-slider .carousel-indicators > li.active {
  width: 14px;
  height: 14px;
  background-color: #0067b2;
  border: 2px solid #fff;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
  .h-slider_txt {
    margin-left: -15px;
    margin-right: -15px;
  }
  .h-slider_cont {
    margin: 0;
    padding: 0;
  }
  .h-slider_hint {
    font-size: 30px;
  }
  .h-slider_ttl {
    font-size: 78px;
    line-height: 58px;
  }
}

@media only screen and (min-width: 1600px) {
  .h-slider_i {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    height: 700px;
  }
}

@media only screen and (min-width: 1920px) {
  .h-slider_i {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    height: 800px;
  }
}

.s-rides .s-ttl {
  margin-bottom: 65px;
}

.post-h {
  text-align: center;
  margin-bottom: 30px;
  padding: 28px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.post-h:last-of-type {
  margin-bottom: 0;
}

.post-h_img {
  display: block;
}

.post-h_img img {
  width: 100%;
  max-width: 700px;
}

.post-h {
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.post-h_con {
  padding-top: 25px;
}

.post-h_ttl h3 {
  margin-bottom: 12px;
  color: #1a1a1a;
}

.post-h_ttl h3:before {
  content: "";
  display: block;
  margin: 5px auto 15px;
  height: 4px;
  width: 50px;
  background-color: #00ADE9;
}

.post-h_txt p {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .post-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 63px;
    text-align: left;
  }
  .post-h_img {
    width: 50%;
    position: relative;
  }
  .post-h_img img {
    display: inline-block;
    margin-top: -56px;
  }
  .post-h_con {
    width: 50%;
    padding-top: 0;
  }
  .post-h:nth-child(odd) .post-h_img {
    padding-right: 8%;
  }
  .post-h:nth-child(odd) .post-h_con {
    padding-left: 11px;
    padding-right: 3.7%;
  }
  .post-h:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .post-h:nth-child(even) .post-h_img {
    padding-left: 8%;
  }
  .post-h:nth-child(even) .post-h_con {
    padding-right: 11px;
    padding-left: 3.7%;
  }
  .post-h_ttl h3 {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .post-h_ttl h3:before {
    margin: 0 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .post-h_con {
    padding-top: 38px;
  }
}

.s-events.s-margin {
  margin-bottom: 64px;
}

.s-events .col-12 {
  margin-bottom: 29px;
}

.s-events .row {
  margin-bottom: -29px;
}

.post-e {
  background-color: #fff;
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
}

.post-e_img {
  display: block;
}

.post-e_img > img {
  width: 100%;
}

.post-e_con {
  padding: 31px 22px 52px 22px;
}

.post-e_con h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.post-e_txt {
  font-size: 15.5px;
  font-weight: 400;
}

.post-e_txt p {
  margin-bottom: 10px;
}

.post-e_lnk {
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 15.5px;
  color: #EA580C !important;
  font-weight: 500;
}

.s-events .btn.btn-primary {
  width: 142px;
}

@media only screen and (min-width: 768px) {
  .s-events .container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .s-events .col-12 {
    padding: 0 11px;
  }
}

.s-join .s-ttl {
  margin-bottom: 16px;
}

.s-join_innr {
  padding: 64px 15px 65px;
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.f-join {
  max-width: 424px;
  margin: 0 auto;
  text-align: center;
}

.f-join .form-group {
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 18px;
}

.f-join .form-control {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0px 0px 0px 1px #00ade9;
  box-shadow: 0px 0px 0px 1px #00ade9;
  outline: none !important;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 34px;
  color: #00ADE9;
  font-weight: 500;
  padding-left: 14px;
}

.f-join .form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* Firefox */
}

.f-join .form-control::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* Firefox */
}

.f-join .form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* Firefox */
}

.f-join .form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* Firefox */
}

.f-join .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* Firefox */
}

.f-join .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.2);
}

.f-join .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.2);
}

.f-join .form-control:focus {
  border-bottom: 2px solid #00ADE9;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16) !important;
}

.f-join_captcha {
  padding: 3px 0 0 13px;
  text-align: left;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 34px;
  -webkit-box-shadow: 0px 0px 0px 1px #00ade9;
  box-shadow: 0px 0px 0px 1px #00ade9;
}

.f-join_captcha img {
  max-height: 75%;
}

.s-join .btn.btn-primary {
  margin-top: 3px;
  width: 175px;
}

.s-faceb .s-btn {
  margin-top: 10px;
}

.face-i {
  padding: 21px 21px 20px 21px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-border-radius: 2px 2px 2px 2px;
          border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.face-i_img {
  width: 36px;
  max-width: 36px;
  display: block;
}

.face-i_img img {
  width: 100%;
}

.face-i_hdr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 10px;
}

.face-i_hdr h3 {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 13px;
  font-weight: 600;
}

.face-i_date {
  color: rgba(21, 23, 25, 0.5);
  font-size: 9px;
  line-height: 10px;
  font-weight: 500;
}

.face-i_info {
  padding: 5px 0 0 10px;
}

.face-i_txt {
  padding-top: 5px;
  font-size: 12px;
  color: #151719;
}

.face-i_txt > p {
  margin-bottom: 0;
}

.s-faceb .btn.btn-primary {
  width: 175px;
}

.ride_slider {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 36px;
}

.ride_sl_i img,
.ride_nv_img img {
  width: 100%;
}

.ride_nv_i {
  outline: none !important;
  margin: 20px 10px 0;
}

.ride_nv_img {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.ride_content {
  padding: 30px 0 0;
}

.ride_tbl {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-bottom: 44px;
}

.ride_tbl table {
  width: 100%;
  border: 1px solid #00ade9;
}

.ride_tbl td {
  padding: 11px 11px;
}

.ride_tbl td:first-of-type {
  background-color: #00ADE9;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-weight: 600;
}

.ride_tbl td:last-of-type {
  color: #060606;
  border-bottom: 1px solid rgba(40, 40, 120, 0.1);
  font-size: 14px;
}

.ride_tbl tr:first-of-type td {
  padding-top: 24px;
}

.ride_tbl tr:last-of-type td {
  padding-bottom: 24px;
  border-bottom: none;
}

.ride_ttl_inn {
  text-align: center;
  margin-bottom: 30px;
}

.ride_ttl_inn h2 {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #010101;
}

.ride_ttl_inn h3 {
  padding-top: 15px;
  font-size: 16px;
  margin-bottom: 0;
}

.ride_ttl_inn p {
  padding-top: 15px;
  margin-bottom: 0;
}

.ride_for > img {
  width: 135px;
}

.ride_txt {
  overflow-y: hidden;
}

.ride_txt p:last-of-type {
  margin-bottom: 0;
}

.comment {
  padding: 28px 0 35px;
}

.comment_form {
  max-width: 480px;
  margin: 0 auto;
}

.comment_ttl {
  padding-bottom: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  border-bottom: 1px solid rgba(40, 40, 120, 0.1);
}

.comment_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.comment_img {
  width: 47px;
  padding-right: 11px;
}

.comment_img > img {
  width: 100%;
}

.comment_con {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment_con textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(40, 40, 120, 0.2);
  font-size: 15px;
}

.comment_con textarea:focus {
  outline: 1px solid #00ADE9;
}

.comment_fields {
  margin-bottom: 4px;
}

.comment_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment_buttons_chbx {
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment_buttons_chbx label {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.comment_buttons .btn-form {
  font-size: 13px;
  padding: 4px 20px;
}

@media only screen and (min-width: 360px) {
  .ride_tbl td {
    padding: 11px 14px;
  }
}

@media only screen and (min-width: 420px) {
  .comment {
    padding: 28px 28px 35px;
    border: 1px solid rgba(40, 40, 120, 0.1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 576px) {
  .ride {
    margin: 0;
  }
  .ride_nv {
    margin-left: -10px;
    margin-right: -10px;
  }
  .ride_content {
    padding: 34px 35px 35px;
    border: 1px solid rgba(40, 40, 120, 0.1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .ride_tbl td {
    padding: 11px 23px;
  }
}

@media only screen and (min-width: 992px) {
  .ride_inf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .ride_tbl {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-bottom: 0;
  }
  .ride_ttl_inn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding-left: 35px;
    margin-bottom: 0;
    text-align: left;
  }
  .ride_txt {
    margin-top: 23px;
  }
}

@media only screen and (min-width: 1200px) {
  .ride {
    max-width: 1004px;
    margin: 0 auto;
  }
  .ride_slider {
    margin-left: 0;
    margin-right: 0;
  }
  .ride_nv_i {
    margin: 10px;
  }
  .ride_nv {
    margin: 0;
    padding: 0 176px 0 176px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .ride_nv .slick-current .ride_nv_img {
    border: 3px solid #fff !important;
  }
  .ride_slider {
    z-index: 1;
    position: relative;
  }
  .ride_slider .slick-arrow {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none !important;
  }
  .ride_slider .slick-arrow:before {
    content: "";
    display: inline-block;
    font-size: 30px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    color: #fff;
  }
  .ride_slider .slick-next {
    right: 22px;
  }
  .ride_slider .slick-next:before {
    content: "\f054";
  }
  .ride_slider .slick-prev {
    left: 22px;
  }
  .ride_slider .slick-prev:before {
    content: "\f053";
  }
  .ride_tbl td {
    padding: 10px 44px 11px 36px;
  }
  .ride_tbl td:last-of-type {
    padding-left: 27px;
    padding-right: 64px;
  }
}

.pass th {
  font-weight: 400;
  text-transform: uppercase;
}

.pass-wrap {
  overflow-x: auto;
}

.pass table {
  min-width: 650px;
}

.pass th {
  padding-top: 21px;
  padding-bottom: 21px;
}

.s-terms {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #00ADE9;
  color: #fff;
}

.s-terms .s-ttl {
  margin-bottom: 34px;
}

.s-terms .s-ttl h2 {
  color: #fff !important;
}

.terms {
  max-width: 1080px;
  margin: 0 auto;
}

.terms h3 {
  margin-top: 7px;
  margin-bottom: 12px;
  font-size: 21px;
  color: #ffd600;
}

.terms ul {
  margin-bottom: 30px;
  line-height: 1.95;
}

.terms ul ul {
  margin-bottom: 0;
  padding-left: 20px;
}

.linkpoints {
  padding-bottom: 37px;
  border-top: 1px solid rgba(40, 40, 120, 0.1);
  border-bottom: 1px solid rgba(40, 40, 120, 0.1);
}

@media only screen and (max-width: 576px) {
  .linkpoints {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .linkpoints:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.linkpoints h2,
.linkpoints h3 {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 21px;
  text-align: center;
  color: #191616;
}

.linkpoints .table-style {
  margin-bottom: 40px;
}

.linkpoints .table-style td {
  line-height: 2.4;
  padding-top: 13px;
  padding-bottom: 13px;
}

.linkpoints th {
  padding-top: 15px;
  padding-bottom: 15px;
}

.linkpoints .table-style_lh {
  margin-bottom: 0;
}

.linkpoints .table-style_lh td {
  line-height: 3.3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.linkpoints th,
.linkpoints td {
  padding-left: 10px;
  padding-right: 0px;
}

@media only screen and (max-width: 360px) {
  .linkpoints .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 576px) {
  .linkpoints {
    padding-left: 40px;
    padding-right: 40px;
  }
  .linkpoints {
    border: 1px solid rgba(40, 40, 120, 0.1);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .pass th,
  .pass td {
    padding-left: 25px;
    padding-right: 5px;
  }
  .linkpoints th,
  .linkpoints td {
    padding-left: 40px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .pass-table-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .linkpoints .table-style {
    margin-bottom: 0;
  }
  .linkpoints h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .pass th,
  .pass td {
    padding-left: 46px;
    padding-right: 0;
  }
  .terms .terms_lis {
    padding-left: 10px;
    padding-right: 10px;
  }
  .linkpoints th,
  .linkpoints td {
    padding-left: 50px;
    padding-right: 0;
  }
}

.s-birthday .container {
  padding-left: 10px;
  padding-right: 10px;
}

.s-birthday_txt {
  max-width: 800px;
  margin: 0 auto 34px;
  line-height: 1.45;
}

.s-birthday_txt p {
  margin-bottom: 8px;
}

.birthday {
  margin-left: -10px;
  margin-right: -10px;
}

.birthday_img > img {
  width: 100%;
}

.birthday_i {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
}

.birthday_i:last-of-type {
  padding-bottom: 0;
}

.birthday_inn {
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.birthday_con {
  padding: 39px 18px 11px;
}

.birthday_con h2,
.birthday_con h3 {
  font-size: 21px;
  margin-bottom: 12px;
  color: #191616;
}

.birthday_con p {
  margin-bottom: 7px;
  line-height: 1.44;
}

.birthday_con ul {
  margin-bottom: 16px;
}

@media only screen and (min-width: 360px) {
  .birthday_con {
    padding: 39px 28px 11px;
  }
}

@media only screen and (min-width: 1200px) {
  .s-birthday .container {
    max-width: 1040px;
  }
}

.service-img {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

.service-img_wrap {
  margin-bottom: 30px;
}

.service-img_txt {
  margin-top: -10px;
  font-size: 14px;
  text-align: center;
}

.service-img_txt p {
  margin-bottom: 0;
}

.s-terms.s-terms-1-list {
  margin-top: 63px;
  max-width: 1060px;
}

.corporate-s-con .row {
  margin-left: -11px;
  margin-right: -11px;
}

.corporate-s-con .col-12 {
  padding-left: 11px;
  padding-right: 11px;
}

.corporate-ttl {
  margin-top: 31px;
  margin-bottom: 12px;
}

.corporate-pri {
  margin-bottom: 23px;
  font-size: 21px;
  color: #ea580c;
}

.corporate-ttl-e {
  margin-top: 29px;
  margin-bottom: 17px;
  font-size: 16px;
}

.package-d {
  margin-bottom: 21px;
  border: 1px solid #00ADE9;
  text-align: center;
}

.package-d_h {
  height: 81px;
  background-color: #00ADE9;
}

.package-d_h h4 {
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.package-d_b {
  height: 93px;
  font-size: 14px;
}

.package-d_h,
.package-d_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hours {
  max-width: 1024px;
  margin: 0 auto;
}

.page_menu {
  margin-top: -9px;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 25px;
}

.page_menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  list-style: none;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 0;
}

.page_menu ul li {
  text-align: center;
  padding: 2px;
}

.page_menu ul li a {
  background: #e7edf0;
  color: #afb3b6;
  display: block;
  padding: 6px 24px;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 500;
}

.page_menu ul li a.active {
  background-color: #00ADE9;
  color: #fff;
}

.page_menu ul li a:hover {
  background-color: #00ADE9;
  color: #fff;
}

.page_menu ul li a:active {
  background-color: #0067b2;
  color: #fff;
}

.page_menu ul li.active a {
  background-color: #00ADE9;
  color: #fff;
}

.hours_peak {
  padding: 20px 0;
  margin-bottom: 13px;
}

.hours_peak table {
  margin: 0 auto;
}

.hours_peak tr td {
  padding: 13px 0;
}

.hours_peak tr td:first-of-type {
  font-weight: 500;
  padding-right: 10px;
}

.hours_peak tr td:last-of-type {
  min-width: 84px;
  color: #00ADE9;
  font-weight: 500;
}

@media only screen and (max-width: 360px) {
  .hours_table {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.hours_table {
  margin-top: 30px;
  margin-bottom: 27px;
}

.hours_table table {
  width: 100%;
  border: 1px solid #00ade9;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.hours_table tr {
  border-left: 1px solid #00ADE9;
  border-right: 1px solid #00ADE9;
}

.hours_table thead tr:first-of-type {
  color: #fff;
  text-align: center;
  background-color: #00ADE9;
  font-weight: 600;
  text-transform: uppercase;
  height: 83px;
  font-size: 16px;
  border: none;
}

.hours_table tbody tr:last-of-type td {
  border-bottom: none;
}

.hours_table th,
.hours_table td {
  padding: 15px 5px 15px 10px;
  border-bottom: 1px solid #E9E9F1;
}

.hours_table th:first-of-type,
.hours_table td:first-of-type {
  border-left: 1px solid #00ADE9;
}

.hours_table th:last-of-type,
.hours_table td:last-of-type {
  border-right: 1px solid #00ADE9;
}

@media only screen and (max-width: 575px) {
  .hours_map {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.hours_directions h3 {
  font-size: 16px;
  margin-bottom: 3px;
}

.hours_pasir-ris-mrt {
  margin-bottom: 27px;
  padding: 10px 20px;
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hours_pasir-ris-mrt img {
  width: 360px;
  max-width: 100%;
}

.hours_rain {
  max-width: 900px;
  margin: 0 auto;
}

.hours_rain-img {
  margin-bottom: 25px;
  padding: 10px 10px;
  border: 1px solid rgba(40, 40, 120, 0.1);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hours_rain-img img {
  width: 400px;
  max-width: 100%;
}

@media only screen and (min-width: 576px) {
  .page_menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hours_peak {
    padding: 20px 30px;
    border: 1px solid rgba(40, 40, 120, 0.1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  }
  .hours_peak tr td:first-of-type {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .hours_peak {
    padding: 33px 0;
  }
  .hours_peak tr td:first-of-type {
    padding-right: 30px;
  }
  .hours_table th,
  .hours_table td {
    padding: 15px 5px 15px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .page_menu ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_menu ul li a {
    padding: 6px 18px;
  }
  .hours .page_menu ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hours_table th,
  .hours_table td {
    padding: 19px 30px 19px 55px;
  }
  .hours_rain-img {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .page_menu ul li a {
    padding: 6px 25px;
  }
}

@media only screen and (max-width: 360px) {
  .guest_table {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.guest_table {
  margin-bottom: 31px;
}

.guest_table table {
  width: 100%;
  border: 1px solid #00ade9;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.guest_table tr {
  border-left: 1px solid #00ADE9;
  border-right: 1px solid #00ADE9;
}

.guest_table thead tr:first-of-type {
  color: #fff;
  text-align: center;
  background-color: #00ADE9;
  font-weight: 600;
  text-transform: uppercase;
  height: 83px;
  font-size: 16px;
  border: none;
}

.guest_table tbody tr:last-of-type td {
  border-bottom: none;
}

.guest_table th,
.guest_table td {
  padding: 23px 10px 23px 10px;
  border-bottom: 1px solid #E9E9F1;
}

.guest_table th:first-of-type,
.guest_table td:first-of-type {
  border-left: 1px solid #00ADE9;
}

.guest_table th:last-of-type,
.guest_table td:last-of-type {
  border-right: 1px solid #00ADE9;
}

@media only screen and (min-width: 576px) {
  .guest_table th,
  .guest_table td {
    padding: 23px 40px 23px 40px;
  }
}

html,
body {
  height: 100%;
}

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow-y: hidden;
}

.footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.footer {
  background: #0067b2;
  padding: 57px 0 52px;
  color: #fff;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.f-col {
  margin-bottom: 30px;
}

.f-logo {
  margin: 0 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 110px;
}

.f-logo > img {
  width: 100%;
}

.f-i a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none !important;
}

.f-i a:hover {
  color: #00ADE9;
}

.f-i ul {
  font-size: 15px;
  font-weight: 500;
}

.f-i ul > li {
  margin-bottom: 10px;
}

.f-i_ttl {
  color: #00ADE9;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.f-i-contact ul {
  font-size: 13px;
  font-weight: 400;
}

.f-i-contact .f-i_ttl {
  font-size: 13px;
  margin-bottom: 2px;
}

.f-i-social ul {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.f-i-social li {
  margin-right: 18px;
}

.f-i-social li:last-of-type {
  margin-right: 0;
}

.f-i-social a {
  display: block;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  color: #0067b2;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
}

.f-i-social a:hover {
  background-color: #0067b2;
  color: #fff;
}

.f-copy {
  margin-top: 41px;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 992px) {
  .footer {
    text-align: left;
  }
  .f-i-social ul {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .f-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .f-copy {
    margin-top: 11px;
  }
}
