






.corporate-s-con{
	.row{
		margin-left: -11px;
		margin-right: -11px;
	}
	.col-12{
		padding-left: 11px;
		padding-right: 11px;
	}
}


.corporate-ttl{
	margin-top: 31px;
	margin-bottom: 12px;
}
.corporate-pri{
	margin-bottom: 23px;
	font-size: 21px;
	color: rgba(234,88,12,1)
}
.corporate-ttl-e{
	margin-top: 29px;
	margin-bottom: 17px;
	font-size: 16px;
}
.package-d{
	margin-bottom: 21px;
	border: 1px solid $blue;
	text-align: center;
}

.package-d_h{
	height: 81px;
	background-color: $blue;
	h4{
		margin-bottom: 0;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
	}
}
.package-d_b{
	height: 93px;
	font-size: 14px;
}
.package-d_h,
.package-d_b{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}








