




@media only screen and (max-width : 360px){

.guest_table{
	margin-left: -10px;
	margin-right: -10px;
}

}//
.guest_table{
	margin-bottom: 31px;
	table{
		width: 100%;
		border: 1px solid rgba(0,173,233,1);
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
		font-size: 14px;
	}
	tr{
		border-left: 1px solid $blue;
		border-right: 1px solid $blue;
	}	
	thead{
		tr{
			&:first-of-type{
				color: #fff;
				text-align: center;
				background-color: $blue;
				font-weight: 600;
				text-transform: uppercase;
				height: 83px;
				font-size: 16px;
				border: none;
			}
		}
	}
	tbody{
		tr{
			&:last-of-type{
				td{
					border-bottom: none;
				}
			}
		}
	}
	th,
	td{
		padding: 23px 10px 23px 10px;
		&:first-of-type{
			border-left: 1px solid $blue;
		}
		&:last-of-type{
			border-right: 1px solid $blue;
		}
		border-bottom: 1px solid #E9E9F1;
	}

}






















