@media only screen and (min-width : 360px){



}//
@media only screen and (min-width : 576px){

.linkpoints{
	padding-left: 40px;
	padding-right: 40px;
}

.linkpoints{
	border: 1px solid rgba(40,40,120,0.1);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
}

}//
@media only screen and (min-width : 768px){

.pass{
	th,
	td{
		padding-left: 25px;
		padding-right: 5px;
	}
}

.linkpoints{
	th,
	td{
		padding-left: 40px;
		padding-right: 5px;
	}
}

}//
@media only screen and (min-width : 992px){

.pass-table-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.linkpoints{
	.table-style{
		margin-bottom: 0;
	}
	h3{
		text-align: left;
	}
}

}//
@media only screen and (min-width : 1200px){

.pass{
	th,
	td{
		padding-left: 46px;
		padding-right: 0;
	}
}

.terms{
	.terms_lis{
		padding-left: 10px;
		padding-right: 10px;
	}
}

.linkpoints{
	th,
	td{
		padding-left: 50px;
		padding-right: 0;
	}
}
}//
@media only screen and (min-width : 1600px){



}//
@media only screen and (min-width : 1920px){



}//
