








.service-img{
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 10px;
}

.service-img_wrap{
	margin-bottom: 30px;
	// &:last-of-type{
	// 	margin-bottom: 0;
	// }
}

.service-img_txt{
	margin-top: -10px;
	font-size: 14px;
	text-align: center;
	p{
		margin-bottom: 0;
	}
}

.s-terms.s-terms-1-list{
	margin-top: 63px;
	max-width: 1060px;
}












