// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Thin.eot');
//     src: local('Brandon Grotesque Thin'), local('BrandonGrotesque-Thin'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Thin.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }



// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Light.eot');
//     src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Light.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot');
//     src: local('Brandon Grotesque Black'), local('BrandonGrotesque-Black'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot');
    src: local('Brandon Grotesque Bold'), local('BrandonGrotesque-Bold'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff') format('woff'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot');
    src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff') format('woff'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot');
    src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff') format('woff'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-ThinItalic.eot');
//     src: local('Brandon Grotesque Thin Italic'), local('BrandonGrotesque-ThinItalic'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-ThinItalic.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-ThinItalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }



// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-LightItalic.eot');
//     src: local('Brandon Grotesque Light Italic'), local('BrandonGrotesque-LightItalic'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-LightItalic.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.eot');
    src: local('Brandon Grotesque Medium Italic'), local('BrandonGrotesque-MediumItalic'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.eot');
//     src: local('Brandon Grotesque Regular Italic'), local('BrandonGrotesque-RegularItalic'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.eot');
    src: local('Brandon Grotesque Bold Italic'), local('BrandonGrotesque-BoldItalic'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

// @font-face {
//     font-family: 'Brandon Grotesque';
//     src: url('../fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.eot');
//     src: local('Brandon Grotesque Black Italic'), local('BrandonGrotesque-BlackItalic'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.woff') format('woff'),
//         url('../fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }
